.project-card-container {
  width: 270px;
  height: 430px;
  overflow: hidden;
  background-color: var(--secondary-background-color);
  border-radius: 5px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  position: relative;
  /* transition: transform 0.2s ease-in-out; */
}
/* .project-card-container img {
  height: 180px;
  width: 100%;
  object-fit: cover;
} */
.project-card-container .content-container {
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.project-card-container h2 {
  text-align: center;
  color: var(--secondary-font-color) !important;
}
.project-card-container .paragraph-container {

  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;

}
.project-card-container p {
  text-align: justify;
  max-height: 110px;
}

.project-button .icon path {
  color: white !important;
}
.project-button .icon {
  font-size: 15px;
}
.project-button button:hover {
  cursor: pointer;
}
.project-button button:focus {
  outline: 0;
}
.view-details-button {
  /* margin-top: 20px; */
  position: absolute;
  right: 0;
  left: 0;
  bottom: 16px;
}

.project-details-modal {
  background-color: var(--primary-background-color);
  width: 90%;
  max-width: 1200px;
  margin: auto;
  border-radius: 5px;
  /* overflow: auto; */
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow: hidden;
  /* border: 2px solid var(--secondary-background-color); */
}
.project-details-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 199;
  /* background-color: rgba(var(--primary-font-color-value), 0.2); */
  backdrop-filter: invert(10%) brightness(100%) blur(5px);
  overflow-y: scroll;
}

.project-details-modal-content {
  display: flex;
}
.project-details-modal-content .project-img {
  flex: 1;
  display: flex;
  align-items: center;
  min-height: 530px;
  background-color: var(--primary-background-color);
  /* background-color: white; */
}
.project-details-modal-content .content-container {
  flex: 2;
  padding: 30px;
  position: relative;
  min-height: 530px;
  /* background-color: red !important; */
  /* padding-left: 30px; */
}
.project-details-modal-content .content-container button {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  margin: 4px;
}
.project-details-modal-content .content-container .close-icon {
  position: absolute;
  font-size: 25px;
  right: 15px;
  top: 15px;
}
.project-details-modal-content .content-container .close-icon:hover {
  cursor: pointer;
}
.project-details-modal-content .content-container h1 {
  margin-bottom: 10px;
  color: var(--secondary-font-color) !important;
}
.project-details-modal-content .content-container .title {
  /* border-bottom: 0.1px solid var(--primary-font-color); */
  padding-bottom: 5px;
}
.project-details-modal-content .content-container .project-type {
  /* color: rgba(var(--primary-font-color-value), 0.6) !important; */
  color: var(--primary-font-color);

}
.project-details-modal-content .content-container hr {
  border: none;
  height: 1px;
  background-color: var(--primary-font-color);
  opacity: 0.3;
}
.project-details-modal-content .content-container .project-description {
  margin-top: 10px;
  text-align: justify;

}
.project-details-modal-content
  .content-container
  .project-technology-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: -10px;
  margin-right: -10px;
  /* height: 200px; */
  overflow: auto;
  justify-content: center;
}
.project-details-modal-content .content-container .project-technology-card {
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  /* background-color: #153057; */
  background-color: var(--secondary-background-color);
  /* border : 2px solid var(--primary-background-color); */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px -15px;
}
.project-details-modal-content
  .content-container
  .project-technology-card
  .img {
  margin: auto;
  width: 60px;
  height: 60px;
  margin: 15px;
}
.project-details-modal-content .project-details-button-container {
  max-width: 550px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-bottom: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  flex-wrap: wrap;
}
.project-details-modal-content .project-details-content {
  font-size: 15px;
}

/* .ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
} */
.ReactModal__Overlay {
  opacity: 0;
  /* transform: translateX(-100px); */
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  /* transform: translateX(0px); */
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  /* transform: translateX(-100px); */
}

.project-card-container .paragraph-container::-webkit-scrollbar {
  width: 4px;
}

.project-card-container .paragraph-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background: #838383;
}
@media only screen and (max-width: 950px) {
  .project-details-modal-content {
    flex-direction: column;
  }
  .project-details-modal-content .project-img {
    min-height: 0px;
  }
  .project-details-modal-content .content-container {
    min-height: 0px;
  }
}
