/* normal mode */
/* :root {
  --background-color: #ffffff;
  --font-color: #000000;
  --icon-color: #282c34;
  --icon-hover-color: #ffffff;
  --icon-hover-background-color: #282c34;
} */
/* dark mode */
:root {
  --background-color: #15202B;
  --font-color: #ffffff;
  --icon-color: #ffffff;
  --icon-hover-color: #282c34;
  --icon-hover-background-color: #ffffff;
}

*,
html,
body {
  box-sizing: border-box;
}

/* Scrollbar Styling
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #c5c5c5;
} */