.eandeContainer {
  margin-top: 100px;
}

.timelineContainer {
  //   width: 500px;
  width: 80%;
  margin: auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timelineItem {
  padding-left: 50px;
  padding-bottom: 20px;
}
