.home {
  width: 80%;
  margin: auto;
}
.homeContainer {
  display: flex;
  //   width: 100%;
  align-items: center;
  justify-content: center;
}
.textContainer {
  flex: 1;
}
.imageContainer {
  // background-color: red;
  flex: 1;
  //   border: 1px solid rgb(208, 208, 208);
  border-radius: 20px;
  // background-color: var(--mantine-color-custom-background-0);
}
