.home {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}
.homeContainer {
  display: flex;
  // align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.textContainer {
  flex: 2;
  padding: 50px;
  padding-bottom: 20px;
  padding-top: 100px;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  h1 {
    font-size: 50px;
    margin: 0px;
  }
  h2 {
    margin: 0px;
    font-weight: 400;
    font-size: 25px;
  }
  h3 {
    margin: 0px;
    font-weight: 400;
    font-size: 22px;
  }
}
.imageContainer {
  flex: 1.7;
  padding-top: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: var(--mantine-color-custom-background-0);
}

.iconContainer {
  margin-top: 10px;
  margin-left: -5px;
  button {
  }
  a {
    display: inline-block;
  }
}
.iconInnerContainer {
  background-color: var(--mantine-color-custom-background-0);
  margin: 5px;
  padding: 7px 10px;
  border-radius: 10px;
  // display: inline-block;
  display: flex;
  // width: 150px;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  svg {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 850px) {
  .textContainer {
    padding: 20px;
  }
  .textContainer {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 620px) {
  .textContainer {
    h1 {
      // font-size: 40px;
    }
  }
  .textContainer {
    padding: 20px;
    padding-bottom: 40px;
  }
  .homeContainer {
    flex-direction: column;
  }
}
