.projectCardContainer {
  //   flex: 1;
  width: 300px;
  margin: 10px;
}

.projectCard {
  padding-bottom: 20px;
  //   border: 2px solid #ced4da;
  h1 {
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
}
.badgeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // min-height: 100px;
  margin-bottom: 5px;
}
.badge {
  margin: 3px;
  padding: 6px;
  border-radius: 5px;
  text-transform: none;
  font-weight: 500;
  font-size: 12px;
}
.shortDescription {
  margin: 0px;
  margin-bottom: 5px;
  // padding-bottom: 2px;
  font-size: 14px;
  text-align: justify;
  // height: 90px;
  // overflow-y: scroll;
}
